@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0918CC;
  color: #fff;
  /* #301008 */
}

.hero-section--text-box {
  flex-basis: 50%;
  padding: 100px 100px 50px;
}

.hero-section--image {
  flex-basis: 50%;
  padding: 100px 100px 50px;
}

.heading-primary,
.hero-section--text {
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
}
.heading-primary {
  font-weight: 700;
  font-size: 3rem;
}

.hero-image {
  object-position: center;
  /*margin-top: 100px;*/
}
