@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.hero-section-about {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-container {
  text-align: center;
  padding-top: 100px;
  color: white;
}

.header-about {
  font-weight: 700;
  font-size: 3rem;
}

.container-about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 50px;
}

.about-us {
  font-family: Poppins, sans-serif;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.text {
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.text h1 {
  font-size: 3rem;
  font-weight: 700;
}
.text p {
  padding-bottom: 20px;
}

.container-about {
  color: black;
}

/*kenapa pilih rightway*/
.content-about {
  background-color: #0918CC;
  color: white;
  height: 400px;
  padding: 50px 0px;
}

.content-about h1 {
  text-align: center;
}

.content-about-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.content-section {
  flex-basis: 30%;
}

.content {
  text-align: center;
  padding: 0px 10px 10px;
}

.header-logo {
  font-size: 5rem;
}

/*konten yang kami berikan*/
.content-available {
  height: 300px;
  color: black;
  padding: 50px 0px;
  text-align: center;
}

.content-tersedia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.box-content {
  flex-basis: 30%;
  padding-top: 60px;
}
.logo-content {
  align-items: center;
  font-size: 5rem;
  color: #0918CC;
}
.text-konten {
  font-size: 1.5rem;
  font-weight: 400;
}